<!doctype html>
<html>
    <head>
        <title>Average Song Values</title>
        <meta name="description" content="Shows you the average values of your top songs' audio features">
        <link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1>Your Music Taste</h1>

        <div id="data_container">
            <div id="avg_data_container">
                <h2>Average values of your top songs</h2>
                {% for field in avg_info %}
                    <hr>
                    <div>
                        <img src="https://upload.wikimedia.org/wikipedia/en/d/db/Pure_Holocaust.jpg">
                        <h3>{{field|capitalize}}: {{avg_info[field][0]}}{{avg_info[field][1]}}</h3>
                        <p>{{responses[field]}}</p>
                    </div>
                {% endfor %}
            </div>
            <div id="song_scores_container">
                <h2>Lowest/Highest Score</h2>
                {% for field in song_scores %}
                    <hr>
                    <div>
                        <div>
                            <h3>{{song_scores[field][4][0]}}</h3>
                            <img src='{{song_scores[field][0][1]}}'>
                            <p>{{song_scores[field][0][0]}}</p>
                            <h4>{{song_scores[field][1]}}</h4>
                        </div>
                        <div>
                            <h3>{{song_scores[field][4][1]}}</h3>
                            <img src='{{song_scores[field][2][1]}}'>
                            <p>{{song_scores[field][2][0]}}</p>
                            <h4>{{song_scores[field][3]}}</h4>
                        </div>
                    </div>
                {% endfor %}
                <hr>
            </div>
        </div>
    </body>
</html>