<!doctype html>
<html>
    <head>
        <title>Spotipy Wrapped Set Up</title>
        <meta name="description" content="The page to set up what kind of data to receive">
        <link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1>Spotipy Wrapped</h1>

        <form name="login" action="/top10" method="post">
            <label for="client_id">Client ID:</label>
            <input type="text" id="client_id" name="client_id" required>
            <br><br>

            <label for="client_secret">Client Secret:</label>
            <input type="password" id="client_secret" name="client_secret" required>
            <br><br>

            <label for="redirect_uri">Redirect URI:</label>
            <input type="text" id="redirect_uri" name="redirect_uri" required>
            <br><br>

            <label for="track_limit">Track Limit:</label>
            <input type="range" id="track_limit" name="track_limit" min="5" max="50">
            <p id="track_limit_value">27</p>

            <label for="time_range">Time range:</label>
            <select id="time_range" name="time_range">
                <option value="short_term">Past month</option>
                <option value="medium_term">Past 6 months</option>
                <option value="long_term">Past year</option>
            </select>
            <br><br>

            <label for="include_liked">Include Liked Songs in Average Data</label>
            <input type="checkbox" id="include_liked" name="include_liked">
            <br><br>

            <input type="submit" id="submit" value="Submit">
        </form>

        <p>{{msg}}</p>

        <div id="loading">
            <h1>Processing...</h1>
            <img src="https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUya2IyeHd6ajhtYTB4ZTNidHNzeWNnMjZtbnZhZ3hpaDMxMTk3ZGluZyZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/L05HgB2h6qICDs5Sms/200.gif">
        </div>
    </body>
    <script>
        track_limit = document.getElementById("track_limit");
        track_limit_value = document.getElementById("track_limit_value");
        submit_btn = document.getElementById("submit");
        loading = document.getElementById("loading");

        track_limit.addEventListener("input", function() {
            track_limit_value.innerText = track_limit.value;
        })

        submit_btn.addEventListener("click", function() {
            const client_id = document.forms["login"]["client_id"].value;
            const client_secret = document.forms["login"]["client_secret"].value;
            const redirect_uri = document.forms["login"]["redirect_uri"].value;

            if (client_id == "" || client_secret == "" || redirect_uri == "") {

            } else {
                loading.style.display = "block";
            }
        })

        track_limit_value.innerText = track_limit.value;
    </script>
</html>