<!doctype html>
<html>
    <head>
        <title>Set Up</title>
        <meta name="description" content="The page to set up what kind of data to receive">
        <link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1>Spotipy Wrapped</h1>

        <form action="/top10" method="get">
            <label for="client_id">Client ID:</label>
            <input type="text" id="client_id" name="client_id" required>
            <br><br>

            <label for="client_secret">Client Secret:</label>
            <input type="password" id="client_secret" name="client_secret" required>
            <br><br>

            <label for="redirect_uri">Redirect URI:</label>
            <input type="text" id="redirect_uri" name="redirect_uri" required>
            <br><br>

            <label for="track_limit">Track Limit:</label>
            <input type="range" id="track_limit" name="track_limit" min="5" max="50">
            <p id="track_limit_value">27</p>
            <br><br>

            <label for="time_range">Time range:</label>
            <select id="time_range" name="time_range">
                <option value='short_term'>Past week</option>
                <option value='medium_term'>Past 6 months</option>
                <option value='long_term'>Past year</option>
            </select>
            <br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
    <script>
        track_limit = document.getElementById("track_limit");
        track_limit_value = document.getElementById("track_limit_value");
        addEventListener("input", function() {
            track_limit_value.innerText = track_limit.value;
        })
        track_limit_value.innerText = track_limit.value;
    </script>
</html>