<!doctype html>
<html>
    <head>
        <title>Your Top Items</title>
        <meta name="description" content="Shows you your top Spotify items">
        <link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1>Your Top Items</h1>

        <div id="top10s">
            <div class="bar top10">
                <h2>Your Top {{(top_artists|length, 10)|min}} Artists</h2>
                {% for i in range(0, (top_artists|length, 10)|min) %}
                    <div>
                        <p>{{i + 1}}. {{top_artists[i][0]}}</p>
                        <img src={{top_artists[i][1]}}>
                    </div>
                {% endfor %}
            </div>

            <div class="bar top10">
                <h2>Your Top {{(top_tracks|length, 10)|min}} Songs</h2>
                {% for i in range(0, (top_tracks|length, 10)|min) %}
                    <div>
                        <p>{{i + 1}}. {{top_tracks[i][0]}}</p>
                        <img src={{top_tracks[i][1]}}>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="piecharts">
            <img class="bar" src="/static/chart1.png">
            <img class="bar" src="/static/chart2.png">
        </div>

        <button id="to_avg_data">Next</button>
        <script>
            document.getElementById("to_avg_data").addEventListener("click", function() {
                window.location.href = "templates/avg_data.html"
            })
        </script>
    </body>
</html>