<!doctype html>
<html>
    <head>
        <title>Your Top Items</title>
        <meta name="description" content="Shows you your top Spotify items">
        <link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <h1>Your Top Items</h1>

        <div id="top10s">
            <div class="bar top10">
                <h2>Your Top {{(top_artists|length, 10)|min}} Artists</h2>
                {% for i in range(0, (top_artists|length, 10)|min) %}
                    <div>
                        <p>{{i + 1}}. {{top_artists[i][0]}}</p>
                        <img src={{top_artists[i][1]}}>
                    </div>
                {% endfor %}
            </div>

            <div class="bar top10">
                <h2>Your Top {{(top_albums|length, 10)|min}} Albums</h2>
                {% for i in range(0, (top_albums|length, 10)|min) %}
                    <div>
                        <p>{{i + 1}}. {{top_albums[i][0]}}</p>
                        <img src={{top_albums[i][1]}}>
                    </div>
                {% endfor %}
            </div>

            <div class="bar top10">
                <h2>Your Top {{(top_tracks|length, 10)|min}} Songs</h2>
                {% for i in range(0, (top_tracks|length, 10)|min) %}
                    <div>
                        <p>{{i + 1}}. {{top_tracks[i][0]}}</p>
                        <img src={{top_tracks[i][1]}}>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="piecharts">
            <button id="chart_btn">Exclude Liked Songs</button>
            <img id="chart" class="bar" src="/static/chart1.png">
        </div>

        <form action="/avg_data", method="post">
            <input type="submit" value="Next">
        </form>
    </body>
    <script>
        const chartImg = document.getElementById("chart");
        const btn = document.getElementById("chart_btn");
        var chart1 = true;

        btn.addEventListener("click", function() {
            if (chart1) {
                chartImg.src = "static/chart2.png";
                btn.innerText = "Include Liked Songs";
            } else {
                chartImg.src = "static/chart1.png";
                btn.innerText = "Exclude Liked Songs";
            }
            chart1 = !chart1;
        })
    </script>
</html>